@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddffe4;
}

header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact-section, .map-section {
    padding: 20px 30px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: green;
}

p {
    font-size: 18px;
}

a {
    color: green;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #f0a500;
}

/* footer */
footer {
    background-color: green;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #fff;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f0a500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 2.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f0a500;
}
/* footer */