@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddffe4;
}

/* header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddffe4;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    header {
    }
}

@media (min-width: 1024px) {
    header {
    }
}
/* header end */

/* about */
.about {
    padding: 40px 20px;
    background-color: #ddffe4;
    text-align: center;
}

.about h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #25a000;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc {
    max-width: 1150px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px #777777;
    margin-top: 20px;
}

.about-desc p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.about-focus {
    border: 3px solid blue;
    background-color: #ADD8E6;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 2rem; /* 小さい画面ではフォントサイズを小さく */
    }

    .about-desc {
        padding: 15px; /* パディングを減らす */
    }

    .about-desc h3 {
        font-size: 1.5rem; /* 小さい画面ではフォントサイズを小さく */
    }
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 1.8rem; /* 更に小さい画面ではフォントサイズを小さく */
    }

    .about-desc h3 {
        font-size: 1.4rem; /* 更に小さい画面ではフォントサイズを小さく */
    }

    .about-desc p {
        font-size: 0.9rem; /* 更に小さい画面ではフォントサイズを小さく */
    }
}

.about-desc a{
    color: #25a000;
    text-decoration: none;
    transition: color 0.3s; /* 色の変更を滑らかに */
}

.about-desc a:hover {
    color: orange; /* ホバー時のリンクの色をオレンジに */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.about-desc-underline {
    text-decoration: underline;
}

.about-desc-bold {
    font-weight: bold;
}
/* about end */

/* details */
.articles {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
}

.article {
    background: white;
    flex: auto;
    width: 44%;
    height: auto;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #777777;
}

.article-image {
    width: 94%;
    height: auto;
    border-radius: 8px;
    margin: 3%;
}

.article > h3, p {
    margin: 3%;
}

@media (max-width: 768px) {
    .article {
        flex: 1 1 100%;
    }
}
/* details end */

/* footer */
footer {
    background-color: green;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #fff;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f0a500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 2.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f0a500;
}
/* footer */