@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddffe4;
}

header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h3 {
    color: green;
    font-size: 25px;
}

p {
    font-size: 1.1rem;
}

section {
    padding: 20px;
}

caption {
    font-size: 1.5rem;
}

.table {
    margin: auto;
    background-color: white;
    border: solid 2px black;
}

th, td {
    padding: 12px;
    font-size: 1.2rem;
}


/* footer */
footer {
    background-color: green;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #fff;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f0a500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 2.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f0a500;
}
/* footer */